/*===============================
=            Helpers            =
===============================*/

.hidden {
  display: none !important;
}

/* hidden except for screen readers */

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.a11y-hidden-mobile {
  @media (max-width: $g-small-breakpoint-min-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.a11y-hidden-tablet {
  @include media-query("small") {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.m-mobile-only {
  @include media-query("medium") {
    display: none !important;
  }
}

.m-desktop-only {
  display: none !important;

  @include media-query("medium") {
    display: block !important;
  }
}

// buttons
.btn-default {
  background-color: #0065f2;
  color: #fff;
  padding: 12px 37.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration: none;
  display: flex;
  justify-content: center;

  @include media-query("small") {
    display: inline;
  }
}
