/*==============================
=            MIXINS            =
==============================*/

/*----------  Responsive mixins  ----------*/

/* Responsive breakpoint manager.
  @access public
  @param {String} $breakpoint - Breakpoint
  usage: @include media-query(phone-max) {}
*/
@mixin media-query($breakpoint) {
  @if $breakpoint== "micro" {
    @media (min-width: $g-micro-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "x-small" {
    @media (min-width: $g-x-small-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "small" {
    @media (min-width: $g-small-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "small-plus" {
    @media (min-width: $g-small-plus-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "medium" {
    @media (min-width: $g-medium-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "large" {
    @media (min-width: $g-large-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "x-large" {
    @media (min-width: $g-x-large-breakpoint-min-width) {
      @content;
    }
  } @else if $breakpoint== "jumbo" {
    @media (min-width: $g-jumbo-breakpoint-min-width) {
      @content;
    }
  } @else {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

/*---------------------------------------------------------
  FLEX
---------------------------------------------------------*/

@mixin flex-parent(
  $direction: column,
  $wrap: wrap,
  $justify: space-between,
  $align: center
) {
  display: flex;
  flex-wrap: $wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-child($grow: 1, $shrink: 0, $basis: auto) {
  flex: $grow $shrink $basis;
}

/*----------  Layout mixins  ----------*/

/* Vertical align anything! */
/* @include vertical-align; */
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* shortcode for absolute positioning */
@mixin left-top($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
}

@mixin left-bottom($left, $bottom) {
  position: absolute;
  left: $left;
  bottom: $bottom;
}

@mixin right-top($right, $top) {
  position: absolute;
  right: $right;
  top: $top;
}

@mixin right-bottom($right, $bottom) {
  position: absolute;
  right: $right;
  bottom: $bottom;
}

@mixin all($left, $top, $right, $bottom) {
  position: absolute;
  left: $left;
  top: $top;
  right: $right;
  bottom: $bottom;
}

/*----------  Spacing mixins  ----------*/

@mixin spacing($direction: bottom) {
  margin-#{$direction}: $s-vertical-spacer;

  @include media-query("phone") {
    margin-#{$direction}: $s-vertical-spacer * 2;
  }

  @include media-query("tablet") {
    margin-#{$direction}: $s-vertical-spacer * 3;
  }
}

/*=====  End of MIXINS  ======*/
