/* All Variables should be declared here which makes it easier to update if something changes globally */

/*
 If prefixed with x- should only be assigned to other variables, not used on their own.
 If prefixed with c- this means the variable defines a colour
 If prefixed with s- this means the variable defines a sizing measurement
 If prefixed with f- this means the variable defines a font family
 If prefixed with g- this means the variable defines something global
*/

// Global Responsive variables - see breakpoint manager mixin
$g-micro-breakpoint-min-width: 320px; // 320px — 374px
$g-x-small-breakpoint-min-width: 375px; // 375px — 479px
$g-small-breakpoint-min-width: 480px; // 480px — 767px
$g-small-plus-breakpoint-min-width: 768px; // 768px — 1024px
$g-medium-breakpoint-min-width: 1025px; // 1025px — 1279px
$g-large-breakpoint-min-width: 1280px; // 1280px — 1439px
$g-x-large-breakpoint-min-width: 1440px; // 1440px — 1919px
$g-jumbo-breakpoint-min-width: 1920px; // 1920px +

// Base Typography
$base-font-size: 1.6rem; // 16px - see base font-size reset in isobar-reset.scss
$large-screen-font-size: 1.8rem; // 18px
$base-line-height: 1.5; // 24px - should match the gutter size below

// Fonts
$f-global-font: "Roboto";
$f-global-bold-font: "Roboto-Medium";
$f-menu: "Roboto-Bold";
$f-heading-font: "Roboto-Slab";
$f-heading-bold-font: "Roboto-Slab-Bold";
$f-fallback: Arial, sans-serif;

// Grid Gutters (can be used to add padding and keep spacing consistent)
$s-gutter-large: 32px;
$s-gutter: 24px;
$s-gutter-phone: 12px;
$s-gutter-phone-narrow: 8px;

$s-vertical-spacer: 24px;
$s-vertical-spacer-large: 40px;

// Colour variables - split background colours and text colours
// If prefixed with x- should only be assigned to other variables, not used on their own.

$black: #2c2b2b;
$white: #ffffff;
$off-white: #f0f0f0;
$lighter: #fbfbfb;

// See below example, by using $border-colour wherever needed it means if you want to change that border colour to red for example, you don't have to change every reference to x-grey in all files - just do a simple variable swap in one place.

$x-union-blue: #0065f2;
$x-royal-blue: #0e3a80;
$x-jazzberry: #b0135b;
$x-moonstone: #54b2c8;
$x-moonstone-light: #ececec;
$x-darkness: #222;
$x-charcoal: #2c2b2b;
$x-grey: #636363;
$x-accent-grey: #b1b1b1;
$x-light-grey: #c4c4c4;
$x-red: #e63329;
$x-green: #56a741;
$x-light-green: #dff1da;

$c-primary: $x-union-blue;
$c-secondary: $x-royal-blue;

$c-accent-primary: $x-jazzberry;
$c-accent-secondary: $x-moonstone;

$c-success: $x-green;
$c-secondary-cta: $x-green;
$c-error: $x-red;

$c-copy: $x-grey;
$c-light-copy: $x-light-grey;
$c-heading: $x-accent-grey;
$c-border: $x-grey;
$c-accent-border: $x-accent-grey;
$c-light-border: $x-light-grey;
$c-background: $x-light-grey;
$c-secondary-background: $x-moonstone-light;

// Global Variables

// Global box shadow value
$g-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);

// Global transition value
$g-transition-duration: 0.25s;
$g-transition-fast-duration: 0.2s;
$g-transition: all $g-transition-duration ease-in-out;
$g-transition-fast: all $g-transition-fast-duration ease-in-out;
