<template>
  <Layout>
    <div class="markdown-body">
      <h1>{{ $page.infoModule.title }}</h1>
    </div>
  </Layout>
</template>

<page-query>
query Post ($path: String!) {
  infoModule (path: $path) {
    title
  }
}
</page-query>

<script>
export default {
  metaInfo() {
    return {
      title: this.$page.infoModule.title,
    };
    console.log("InfoModule", this.$page.infoModule.title);
  },
};
</script>
