/* Declare font face variations here - make sure to update the source url with the theme name, font name and upload the font files in the correct directory */

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("/assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Slab-Bold";
  src: url("/assets/fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Declare site wide typography styles here */

body {
  font-family: $f-global-font, $f-fallback;
  font-size: $base-font-size;
  /* 16px */
  line-height: $base-line-height;
  /* 24px */
  font-weight: 300;
  color: $c-copy;

  @include media-query("desktop") {
    font-size: $large-screen-font-size;
  }
}

.link {
  text-decoration: none;
  font-size: 1.6rem;
  color: $c-secondary;
  font-family: $f-global-bold-font;

  &.m-large {
    font-size: 1.8rem;
    color: $c-primary;
    margin: $s-gutter-phone 0;
  }

  .link-arrow {
    margin-left: 5px;
  }
}

strong {
  font-family: $f-global-bold-font;
}

.content-link {
  appearance: none;
  color: $c-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.modal-link {
  color: $white;
  font-family: $f-global-bold-font;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.display {
  font-size: 4.4rem;
  line-height: 56px;
  font-family: $f-heading-font;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 5.6rem;
    line-height: 64px;
    font-family: $f-heading-font;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 40px;
  font-family: $f-heading-bold-font;
  color: $black;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 4.8rem;
    line-height: 56px;
    font-family: $f-heading-bold-font;
    margin: 0;
    margin-bottom: $s-gutter/2;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 40px;
  font-family: $f-heading-bold-font;
  color: $black;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 4rem;
    line-height: 56px;
    font-family: $f-heading-bold-font;
    margin: 0;
    margin-bottom: $s-gutter/2;
  }
}

h3 {
  font-size: 2.6rem;
  line-height: 40px;
  font-family: $f-heading-bold-font;
  color: $black;
  margin: 0;
  margin-bottom: $s-gutter/2;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 3.2rem;
    line-height: 40px;
    font-family: $f-heading-bold-font;
  }
}

h4 {
  font-size: 2.4rem;
  line-height: 40px;
  font-family: $f-global-bold-font;
  color: $black;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 2.8rem;
    line-height: 32px;
    font-family: $f-global-bold-font;
  }
}

h5 {
  font-size: 2.4rem;
  line-height: 32px;
  font-family: $f-global-font;
  color: $black;
  font-weight: bold;

  @include media-query("small-plus") {
    font-size: 1.8rem;
    line-height: 24px;
    font-family: $f-global-font;
  }
}

h6 {
  font-size: 1.4rem;
  line-height: 20px;
  font-family: $f-global-font;
  color: $black;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: $black;
}

label {
  font-size: 1.4rem;
  line-height: 16px;
  font-family: $f-global-bold-font;

  &.invalid {
    color: $c-error;
  }
}

label.lead-in {
  font-family: $f-global-font;
  font-size: 1.8rem;
  line-height: 28px;
  margin: $s-vertical-spacer/4 0;
}

/* SVG icon sprite */

.svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  /* Flow with text content */
  fill: currentColor;
  /* Inherit the parent text color */
  height: 1.2em;
  /* Use the parent font-size for width and height */
  width: 1.2em;
  /* Use the parent font-size for width and height */
  vertical-align: middle;
  /* Vertically align icon with adjacent text */
  position: relative;
  /* Align nicely with capital letters */
  top: -0.0625em;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-size: 1rem;
}
