<template>
  <div>
    <Layout>
      <h1>About usdd</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
        doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur
        rerum illum odit fugit assumenda rem dolores inventore iste
        reprehenderit maxime! Iusto.
      </p>
    </Layout>
    <SmallBanner />
  </div>
</template>

<script>
import SmallBanner from "@/components/SmallBanner.vue";

export default {
  metaInfo: {
    title: "About us",
  },
  components: {
    SmallBanner,
  },
};
</script>
