<template>
  <div class="home">
    <NavBar />
    <MainBanner />
    <SmallBanner />
    <InfoTwoColumns />
    <CtaTwoColumns />
    <ItemsModule />
    <LogosModule />
    <CardsModule />
    <BoxModule />
    <ShareTwoColumnsModule />
    <CarouselContent />
    <CarouselTwoColumns />
    <FullWidthImage />
    <Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
import MainBanner from "@/components/MainBanner.vue";
import SmallBanner from "@/components/SmallBanner.vue";
import InfoTwoColumns from "@/components/InfoTwoColumns.vue";
import CtaTwoColumns from "@/components/CtaTwoColumns.vue";
import ItemsModule from "@/components/ItemsModule.vue";
import LogosModule from "@/components/LogosModule.vue";
import CardsModule from "@/components/CardsModule.vue";
import BoxModule from "@/components/BoxModule.vue";
import ShareTwoColumnsModule from "@/components/ShareTwoColumnsModule.vue";
import CarouselContent from "@/components/CarouselContent.vue";
import CarouselTwoColumns from "@/components/CarouselTwoColumns.vue";
import FullWidthImage from "@/components/FullWidthImage.vue";
import Footer from "@/components/Footer.vue";

export default {
  name: "Home",
  components: {
    NavBar,
    MainBanner,
    SmallBanner,
    InfoTwoColumns,
    CtaTwoColumns,
    ItemsModule,
    LogosModule,
    CardsModule,
    BoxModule,
    ShareTwoColumnsModule,
    CarouselContent,
    CarouselTwoColumns,
    FullWidthImage,
    Footer,
  },
};
</script>
