<template>
  <div class="box-module-container my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40">
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
    <div class="item-box">
      <img src="@/assets/img/staff.png" alt />
      <div class="p-5">
        <p>Staff Members Name</p>
        <div class="item-link my-5 text-left">
          <a href="/">Link</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BoxModule",
  props: {
    msg: String,
  },
};
</script>
