<template>
  <div class="cards-module my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40">
    <h2 class="mb-5">Related Projects</h2>
    <div class="cards-module-container">
      <a href class="card">
        <div class="card-img">
          <!-- <img src="@/assets/img/ImageSquare.png" alt /> -->
        </div>
        <div class="card-container">
          <h4 class="mb-5">Long headline to turn your visitors into users</h4>
          <p class="mb-5">
            Harmonious colour themes have built up as the collection has
            evolved.
          </p>
          <div class="card-link">
            <a href="/">Explore</a>
          </div>
        </div>
      </a>
      <a href class="card">
        <div class="card-img">
          <!-- <img src="@/assets/img/ImageSquare.png" alt /> -->
        </div>
        <div class="card-container">
          <h4 class="mb-5">Long headline to turn your visitors into users</h4>
          <p class="mb-5">
            Harmonious colour themes have built up as the collection has
            evolved.
          </p>
          <div class="card-link">
            <a href="/">Explore</a>
          </div>
        </div>
      </a>
      <a href class="card">
        <div class="card-img">
          <!-- <img src="@/assets/img/ImageSquare.png" alt /> -->
        </div>
        <div class="card-container">
          <h4 class="mb-5">Long headline to turn your visitors into users</h4>
          <p class="mb-5">
            Harmonious colour themes have built up as the collection has
            evolved.
          </p>
          <div class="card-link">
            <a href="/">Explore</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardsModule",
  props: {
    msg: String,
  },
};
</script>
