<template>
  <div
    class="carousel-two-columns-container my-16 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
  >
    <div class="arrows prev"></div>
    <div class="arrows next"></div>
    <div class="banner-column">
      <div class="avatar-container my-5">
        <img src="@/assets/img/Avatar.png" alt />
      </div>
      <p class="mb-5">
        “Given the enormous wealth creation from cryptocurrency, and the future
        potential upside, I believe there is a rare opportunity to create a
        large non-profit fund.”
      </p>
      <div class="footer-column">
        <label>Name Surname</label>
        <span>Founder, Acme Company</span>
      </div>
    </div>

    <div class="banner-column">
      <div class="avatar-container my-5">
        <img src="@/assets/img/Avatar.png" alt />
      </div>
      <p class="mb-5">
        “All base UI elements are made using Nested Symbols and shared styles
        that are logically connected. Gorgeous, high-quality video sharing on
        desktop, mobile, tablet. All base UI elements are made using Nested
        Symbols”
      </p>
      <div class="footer-column">
        <label>Name Surname</label>
        <span>Founder, Acme Company</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CarouselTwoColumns",
  props: {
    msg: String,
  },
};
</script>
