<template>
  <div
    class="carousel-content-container my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
  >
    <div class="banner-column">
      <div class="arrows prev"></div>
      <div class="arrows next"></div>
      <img class="carousel-img" src="@/assets/img/Carousel.png" />
      <div class="dots-container">
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots active"></span>
        <span class="dots"></span>
      </div>
    </div>
    <div class="banner-column">
      <h2 class="my-5">Isobar have a nationwide portfolio.</h2>
      <p class="mb-5">
        Our sites are strategically located throughout Ireland and are
        constantly reviewing the latest innovations and technologies in order to
        improve the quality of our service.
      </p>
      <div class="two-columns">
        <div class="two-columns-item">
          <h5>Feature one</h5>
          <p>Gorgeous, high-quality video sharing on desktop, mobile, tablet</p>
        </div>
        <div class="two-columns-item">
          <h5>Feature one</h5>
          <p>Gorgeous, high-quality video sharing on desktop, mobile, tablet</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CarouselContent",
  props: {
    msg: String,
  },
};
</script>
