<template>
  <div class="mb-40">
    <div
      class="cta-module-container my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column my-10 sm:px-0 sm:my-0">
        <img src="@/assets/img/Image.png" />
      </div>
      <div class="banner-column sm:px-0 md:px-0 lg:px-8">
        <h2 class="mb-5 display">Meet our Ledership team</h2>
        <p class="mb-5">
          Separated they live in Bookmarks right at the coast of the famous
          Semantics, large language ocean Separated they live in Bookmarks right
        </p>
        <!-- {/* btn container */} -->
        <div class="btn-container mt-8">
          <a href="/" class="btn-default">Meet the Team</a>
        </div>
      </div>
    </div>
    <div
      class="cta-module-container m-oposite my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column my-10 sm:px-0 sm:my-0">
        <img src="@/assets/img/Image.png" />
      </div>
      <div class="banner-column px-0 sm:px-0 md:px-0 lg:px-8">
        <h2 class="mb-5 display">Meet our Ledership team</h2>
        <p class="mb-5">
          Separated they live in Bookmarks right at the coast of the famous
          Semantics, large language ocean Separated they live in Bookmarks right
        </p>
        <!-- {/* btn container */} -->
        <div class="btn-container mt-8">
          <a href="/" class="btn-default">Meet the Team</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CtaTwoColumns",
  props: {
    msg: String,
  },
};
</script>
