<template>
  <div class="footer-module-container px-6 pt-16 sm:my-0 sm:px-32">
    <div class="footer-container">
      <div class="columns">
        <img src="@/assets/img/staff.png" />
      </div>
      <div class="columns">
        <label>First column</label>
        <ul>
          <li>
            <a>First page</a>
          </li>
          <li>
            <a>Second page</a>
          </li>
          <li>
            <a>Third</a>
          </li>
          <li>
            <a>Fourth</a>
          </li>
        </ul>
      </div>
      <div class="columns">
        <label>Second</label>
        <ul>
          <li>
            <a>First page</a>
          </li>
          <li>
            <a>Second page</a>
          </li>
          <li>
            <a>Third</a>
          </li>
          <li>
            <a>Fourth</a>
          </li>
        </ul>
      </div>
      <div class="columns">
        <label>Third</label>
        <ul>
          <li>
            <a>First page</a>
          </li>
          <li>
            <a>Second page</a>
          </li>
          <li>
            <a>Third</a>
          </li>
          <li>
            <a>Fourth</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sub-footer pt-16 pb-8">
      <div class="columns">
        <p>© 2020 Isobar. All right reserved.</p>
        <a class="mx-0 my-2 sm:my-5 sm:mx-5">Privacy Policy</a>
        <a class="mx-0 my-2 sm:my-5 sm:mx-5">Terms of Service</a>
      </div>
      <div class="columns">
        <img src="@/assets/img/Facebook.svg" />
        <img src="@/assets/img/Linkedin.svg" />
        <img src="@/assets/img/Twitter.svg" />
        <img src="@/assets/img/Pinterest.svg" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  props: {
    msg: String,
  },
};
</script>
