ImageFull.png
<template>
  <div class="full-width-container my-16">
    <div class="image-container">
      <img src="@/assets/img/ImageFull.png" />
    </div>
  </div>
</template>

<script>
export default {
  name: "FullWidthImage",
  props: {
    msg: String,
  },
};
</script>
