<template>
  <div class="mb-40">
    <div
      class="info-module-container banner-img my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column">
        <h4 class="mb-5">
          We offer our clients a wide range of services on our sites.
        </h4>
        <p class="mb-5">
          We develop lasting customers relationships which deliver the highest
          level of service. Our services include:
        </p>
        <ul class="pl-4 ml-4">
          <li>Full installation design service</li>
          <li>Publish across social channels in a click</li>
          <li>Sell your videos worldwide</li>
          <li>Embed your work with</li>
        </ul>
      </div>
      <div class="banner-column my-10 sm:px-0 sm:my-0">
        <img src="@/assets/img/Image.png" />
      </div>
    </div>
    <div
      class="info-module-container banner-img m-oposite my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column ml-0 md:ml-16">
        <h1 class="my-5 display">The Solution</h1>
        <p class="mb-5">
          Separated they live in Bookmarks right at the coast of the famous
          Semantics, large language ocean Separated they live in Bookmarks
          right, Separated they live in Bookmarks right at the coast of the
          famous Semantics, large language ocean Separated they live in
          Bookmarks right
        </p>
      </div>
      <div class="banner-column">
        <img src="@/assets/img/Corners.png" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InfoTwoColumns",
  props: {
    msg: String,
  },
};
</script>
