<template>
  <div class="mb-40">
    <div
      class="item-module-container my-16 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="item-module">
        <div class="text-aside">
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5 ml-4">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics, large language.
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
      <div class="item-module">
        <div class="text-aside">
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5 ml-4">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics, large language, Separated they live in
            Bookmarksgrove right at the coast of the famous Semantics, large
            language, Separated they live in Bookmarksgrove right at the coast
            of the famous Semantics, large language
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
      <div class="item-module">
        <div class="text-aside">
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5 ml-4">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics, large language, Separated they live in
            Bookmarksgrove right at the coast of the famous Semantics, large
            language.
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
    </div>
    <div
      class="item-module-container my-16 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="item-module">
        <div>
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics.
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
      <div class="item-module">
        <div>
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics, large language, Separated they live in
            Bookmarksgrove right at the coast of the famous Semantics, large
            language, Separated they live in Bookmarksgrove right at the coast
            of the famous Semantics, large language
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
      <div class="item-module">
        <div>
          <div class="item-logo mb-5">
            <img src="@/assets/img/Rectangle.svg" alt />
          </div>
          <h5 class="text-left mb-5">Design</h5>
        </div>
        <div class="item-module-content">
          <p class="mb-5 text-left">
            Separated they live in Bookmarksgrove right at the coast of the
            famous Semantics, large language, Separated they live in
            Bookmarksgrove right at the coast of the famous Semantics.
          </p>
        </div>
        <div class="item-link mb-5 text-left">
          <a href="/">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ItemsModule",
  props: {
    msg: String,
  },
};
</script>
