<template>
  <div
    class="logo-module-container my-16 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
  >
    <h6 class="mb-8 text-center">
      Given the enormous wealth creation from cryptocurrency
    </h6>
    <div class="logo-container">
      <div class="item-logo">
        <img src="@/assets/img/ebay.svg" alt />
      </div>
      <div class="item-logo">
        <img src="@/assets/img/cnn.svg" alt />
      </div>
      <div class="item-logo">
        <img src="@/assets/img/google.svg" alt />
      </div>
      <div class="item-logo">
        <img src="@/assets/img/cisco.svg" alt />
      </div>
      <div class="item-logo">
        <img src="@/assets/img/airbnb.svg" alt />
      </div>
      <div class="item-logo">
        <img src="@/assets/img/uber.svg" alt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LogosModule",
  props: {
    msg: String,
  },
};
</script>
