<template>
  <div>
    <div
      class="banner-module-container banner-img my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column mr-0 sm:mr-32 md:mr-8 lg:mr-12">
        <div class="banner-content">
          <h1 class="mb-5 display">
            We provide network & single cell infrastructure solutions
          </h1>
          <!-- {/* btn container */} -->
          <div class="btn-container mt-8">
            <a href="/" class="btn-default">Login</a>
          </div>
        </div>
      </div>
      <div
        class="banner-column my-10 sm:px-0 sm:my-0 md:my-0 md:px-0 lg:my-0 lg:px-0"
      >
        <img src="@/assets/img/Image.png" />
      </div>
    </div>
    <div
      class="banner-module-container m-oposite banner-img my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
    >
      <div class="banner-column mr-0 md:ml-8">
        <div class="banner-content">
          <h1 class="mb-5 display">
            {{ $static.allAcf.edges[0].node.acf.title }}
          </h1>
          <p class="mb-5 text-left">
            {{ $static.allAcf.edges[0].node.acf.subtitle }}
          </p>
          <!-- {/* btn container */} -->
          <div class="btn-container mt-16">
            <a
              :href="$static.allAcf.edges[0].node.acf.banner_btn_url"
              class="btn-default"
            >
              {{ $static.allAcf.edges[0].node.acf.banner_btn_text }}</a
            >
          </div>
        </div>
      </div>
      <div class="banner-column my-10 sm:px-0 sm:my-0">
        <img :src="$static.allAcf.edges[0].node.acf.banner_img.url" />
      </div>
    </div>
  </div>
</template>

<static-query>
{ 
  allAcf {
    edges {
      node {
        acf {
          title
          subtitle
          banner_btn_url
          banner_btn_text
          banner_img {
            filename
            url
          }
        }
      }
    }
  }
}
</static-query>

<script>
export default {
  name: "MainBanner",
  props: {
    msg: String,
  },
};
</script>
