<template>
  <div class="global-header">
    <div class="header-container">
      <!-- {/* container logo */} -->
      <div class="header-logo-container">
        <a href="/">
          <img src="@/assets/img/ImageSquare.png" />
        </a>
      </div>
      <!-- {/* container links */} -->
      <div class="header-nav-container">
        <div class="header-nav-item">
          <a href="#" class="nav-link">Link 1</a>
        </div>
        <div class="header-nav-item">
          <a href="#" class="nav-link">Link 2</a>
        </div>
        <div class="header-nav-item">
          <a href="#" class="nav-link">Link 3</a>
        </div>
      </div>
      <!-- {/* btn container */} -->
      <div class="header-btn-container">
        <a href="/" class="btn-default">Login</a>
      </div>

      <!-- mobile nav -->
      <nav role="navigation" class="nav-container">
        <div class="menu-toggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
      <!-- end mobile nav -->
    </div>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  props: {
    msg: String,
  },
};
</script>
