<template>
  <div
    class="share-module-container my-6 px-6 md:my-8 md:px-8 lg:my-20 lg:px-40"
  >
    <div class="banner-column">
      <div class="arrow-back">
        <a href="#">back</a>
      </div>
      <img class="share-img" src="@/assets/img/Share.png" />
    </div>
    <div class="banner-column">
      <div class="share-content">
        <h3 class="my-5">Staff members Name</h3>
        <p class="mb-5">
          Change the color to match your brand or vision, add your logo, choose
          the perfect thumbnail, remove the playbar, add speed controls, and
          more. Increase engagement with CTAs and custom end screens, or keep
          your video private and password-protected. Change the color to match
          your brand or vision, add your logo, choose the perfect thumbnail,
          remove the playbar, add speed controls, and more. Increase engagement
          with CTAs and custom end screens, or keep your video private and
          password-protected.
        </p>
        <div class="share-logo">
          <img src="@/assets/img/Facebook.svg" />
          <img src="@/assets/img/Linkedin.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShareTwoColumnsModule",
  props: {
    msg: String,
  },
};
</script>
