<template>
  <div class="small-banner-module-container my-16 px-6 sm:my-32 sm:px-32">
    <div class="small-banner-column text-center">
      <p class="font-bold">{{ $static.allAcf.edges[0].node.acf.tagline }}</p>
      <h2 class="mb-5">
        {{ $static.allAcf.edges[0].node.acf.title }}
      </h2>
      <p>
        {{ $static.allAcf.edges[0].node.acf.content }}
      </p>
    </div>
  </div>
</template>

<static-query>
{ 
  allAcf {
    edges {
      node {
        acf{
          title
          content
          tagline
        }
      }
    }
  }
}
</static-query>

<script>
export default {
  name: "SmallBanner",
  props: {
    msg: String,
  },
};
</script>
