.box-module-container {
  @include flex-parent(row, wrap, flex-start, stretch);
}
.box-module-container .item-box {
  flex: 1 0 55%;
  margin-right: 0px;
  margin-bottom: 15px;

  @include media-query("small") {
    flex: 1 0 32%;
    margin-right: 15px;
  }

  @include media-query("small-plus") {
    flex: 1 0 22%;
    margin-right: 15px;
  }

  &:nth-child(4n + 4) {
    margin-right: 0;
  }

  img {
    width: 100%;
  }

  .item-link {
    color: $c-primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}
