.carousel-two-columns-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.carousel-two-columns-container .banner-column {
  flex: 1 0 85%;
  padding: 50px;

  @include media-query("small-plus") {
    border-right: 1px solid $c-accent-border;
    flex: 1 0 45%;
  }

  &:last-of-type {
    padding-right: 50px;
    border-right: 0;
    display: none;

    @include media-query("small-plus") {
      display: block;
    }
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: center;
    min-height: 120px;
  }

  .footer-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1px;
      color: $black;
    }

    span {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $black;
    }
  }
}

.arrows {
  width: 29px;
  height: 29px;
  border-color: $black;
  position: absolute;
}

.prev {
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  left: 35px;
  top: 50%;
  cursor: pointer;
}

.next {
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(-135deg);
  right: 35px;
  top: 50%;
  cursor: pointer;
}
