.carousel-content-container {
  @include flex-parent(row, wrap, flex-start, flex-start);

  @include media-query("small-plus") {
    @include flex-parent(row, wrap, flex-start, center);
  }
}
.carousel-content-container .banner-column {
  flex: 1 0 100%;
  margin-right: 0;
  position: relative;

  @include media-query("small-plus") {
    flex: 1 0 43%;
    margin-right: 100px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .two-columns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .two-columns-item {
      flex: 1 0 45%;
      margin-right: 50px;
      text-align: left;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .carousel-img {
    width: 100%;
  }

  .arrows {
    width: 29px;
    height: 29px;
    border-color: $black;
    position: absolute;
  }

  .prev {
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(45deg);
    left: 35px;
    top: 45%;
    cursor: pointer;
  }

  .next {
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(-135deg);
    right: 35px;
    top: 45%;
    cursor: pointer;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .dots {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $c-background;
      margin-right: 5px;

      &.active {
        background: $black;
      }
    }
  }
}
