.cards-module-container {
  @include flex-parent(column, nowrap, flex-start, stretch);

  @include media-query("small-plus") {
    flex-direction: row;
  }
}

.card {
  flex: 1 0 auto;
  max-width: 100%;
  margin-right: 0px;
  margin-bottom: 20px;
  box-shadow: $g-box-shadow;

  @include media-query("small-plus") {
    max-width: 31.3%;
    margin-right: 35px;
    margin-bottom: 0px;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.card-img {
  background-image: url("~@/assets/img/ImageSquare.png");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  background-size: cover;
  width: 100%;
}

.card-container {
  padding: 15px;
  @include flex-parent(column, nowrap, flex-start, flex-start);

  .card-link {
    display: flex;
    justify-content: flex-start;

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: 0.1px;
      color: $c-primary;
    }
  }
}
