.cta-module-container {
  @include flex-parent(column, wrap, center);

  @include media-query("small-plus") {
    @include flex-parent(row);

    &.m-oposite {
      flex-direction: row-reverse;
    }
  }
}

.banner-column {
  flex: 1 0 100%;

  @include media-query("small-plus") {
    flex: 1 0 43%;
  }
}
