.footer-module-container {
  background: $c-secondary-background;

  .footer-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    .columns {
      flex: 1 0 45%;
      text-align: left;
      margin: 8px;

      &:first-of-type {
        flex: 1 0 100%;
      }

      @include media-query("small-plus") {
        flex: 1 0 20%;

        &:first-of-type {
          flex: 1 0 20%;
        }
      }

      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $black;
      }

      ul {
        list-style: none;

        li {
          font-size: 14px;
          line-height: 32px;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .sub-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    @include media-query("small-plus") {
      flex-direction: row;
    }

    .columns {
      flex: 1 0 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      @include media-query("small-plus") {
        flex: 1 0 70%;
        flex-direction: row;
      }

      &:last-of-type {
        justify-content: flex-start;
        flex: 1 0 100%;
        flex-direction: row;

        @include media-query("small-plus") {
          flex: 1 0 30%;
          justify-content: flex-end;
        }
      }

      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: $black;
      }

      a {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: $c-heading;

        &:hover {
          color: $black;
          text-decoration: underline;
          cursor: pointer;
        }
      }

      img {
        width: 16px;
        margin: 10px;
      }
    }
  }
}
