.info-module-container {
  @include flex-parent(column-reverse, wrap, center);
  min-height: 400px;

  @include media-query("small-plus") {
    @include flex-parent(row);

    &.m-oposite {
      flex-direction: row-reverse;
    }
  }
}

.banner-column {
  flex: 1 0 100%;

  @include media-query("small-plus") {
    flex: 1 0 43%;
  }

  ul {
    list-style: circle;
    text-align: left;

    li {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: $black;
      text-align: left;
    }
  }
}
