.item-module-container {
  @include flex-parent(column, wrap);

  @include media-query("small-plus") {
    @include flex-parent(row, wrap, space-between, flex-start);
  }
}
.item-module-container .item-module {
  flex: 0 0 25%;
  margin-right: 0;
  margin-bottom: 20px;

  @include media-query("small-plus") {
    margin-right: 30px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  .item-module-content {
    min-height: auto;

    @include media-query("small") {
      min-height: 200px;
    }
  }

  .text-aside {
    display: flex;
  }
}

.item-logo {
  width: 32px;

  img {
    width: 100%;
  }
}

.item-link {
  color: $c-primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
