.logo-module-container {
  h6 {
    color: $c-heading;
  }

  .logo-container {
    @include flex-parent(row, wrap, space-evenly, center);
  }

  .item-logo {
    flex: 1 0 39%;
    margin-right: 0;

    @include media-query("small") {
      flex: 1 0 32%;
    }

    @include media-query("small-plus") {
      flex: 0 0 10%;
      margin-right: 30px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    img {
      width: 80px;
      margin: 10px auto;
    }
  }
}
