.banner-module-container {
  @include flex-parent(column-reverse, wrap, center);
  min-height: 550px;

  @include media-query("small-plus") {
    @include flex-parent(row);

    &.m-oposite {
      flex-direction: row-reverse;
    }
  }
}

.banner-column {
  flex: 1 0 100%;

  @include media-query("small-plus") {
    flex: 1 0 43%;
  }

  .banner-content {
    max-width: 500px;
    margin: auto;
  }
}
