.header-container {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 15px 30px;

  .header-logo-container {
    width: 150px;

    img {
      width: 100%;
    }
  }

  .header-nav-container {
    display: none;

    @include media-query("small-plus") {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      flex: 1 0 auto;
      padding: 0 15px;
    }

    .header-nav-item {
      padding: 15px;

      .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: 0.1px;
        color: $black;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .header-btn-container {
    display: none;

    @include media-query("small-plus") {
      display: block;
    }
  }

  // mobile nav
  .nav-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    @include media-query("small-plus") {
      display: none;
    }

    .menu-toggle {
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;

      input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;

        &:checked {
          ~ {
            span {
              opacity: 1;
              transform: rotate(45deg) translate(-5px, -19px);
              background: #232323;

              &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }

              &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, 15px);
              }
            }
          }
        }
      }

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $black;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }
    }
  }
  // end mobile nav
}
