.share-module-container {
  @include flex-parent(column, wrap, flex-start, center);

  @include media-query("small-plus") {
    flex-direction: row;
  }
}

.share-module-container .banner-column {
  flex: 1 0 100%;
  width: 100%;

  .share-img {
    width: 100%;

    @include media-query("small-plus") {
      width: auto;
    }
  }

  @include media-query("small-plus") {
    flex: 1 0 25%;
  }

  &:last-of-type {
    flex: 1 0 60%;
    margin-left: 0;

    @include media-query("small-plus") {
      margin-left: 40px;
    }
  }

  .share-content {
    max-width: 540px;
  }

  .share-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 29px;
      margin-right: 20px;
    }
  }

  .arrow-back {
    color: $c-primary;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
    text-align: left;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
