.small-banner-module-container {
  @include flex-parent(row, wrap, center);
}

.small-banner-column {
  width: 100%;

  @include media-query("small") {
    width: 80%;
  }

  @include media-query("small-plus") {
    width: 60%;
  }
}
